SYSTEM_PROMPT="You are an expert on Video Analysis. You will be shown a series of images from a video. Describe what is happening in the video, including the objects, actions, and any other relevant details. Be as specific and detailed as possible. espond with a SINGLE JSON object that exactly matches this schema, and nothing else: {'description': '', 'objects': ['description':'', 'time_first_seen':''], 'actions': ['description':'', 'time':'']}"

AZURE_OPENAI_ENDPOINT=https://your-azure-openai-endpoint.openai.azure.com/
# API Key is Optional, if not provided, the app will attempt to use Azure AD authentication
AZURE_OPENAI_API_KEY=your-azure-openai-api-key
AZURE_OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o

USE_WHISPER=False
WHISPER_ENDPOINT=https://your-whisper-endpoint.openai.azure.com/
WHISPER_API_KEY="your-whisper-api-key"
WHISPER_API_VERSION=2024-06-01
WHISPER_DEPLOYMENT_NAME=whisper
